<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MahasiswaController</servlet-name>
        <servlet-class>com.fahmi.learn.java.controllers.MahasiswaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleController</servlet-name>
        <servlet-class>com.fahmi.learn.java.controllers.SimpleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.fahmi.learn.java.controllers.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParameterController</servlet-name>
        <servlet-class>com.fahmi.learn.java.controllers.ParameterController</servlet-class>
        <init-param>
            <description>this is admin email</description>
            <param-name>adminEmail</param-name>
            <param-value>fahmi.hidayah.cs@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MahasiswaController</servlet-name>
        <url-pattern>/mahasiswa/InsertMahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleController</servlet-name>
        <url-pattern>/SimpleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParameterController</servlet-name>
        <url-pattern>/ParameterController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
